@model RegistroAlumno.Models.ListViewModel.MateriaViewModel
@{
    ViewBag.Title = "Editar";
}


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Editar", "Materia", FormMethod.Post))
{

    @Html.HiddenFor(d => d.Mat_id);

    
    @Html.LabelFor(d => d.Mat_nombre)
    @Html.TextBoxFor(d => d.Mat_nombre, "", new { @class = "form-control" });


    @Html.HiddenFor(d => d.Created_at);
    

    @Html.LabelFor(d => d.Updated_at)
    <br />
    @Html.EditorFor(d => d.Updated_at, "", new { @class = "form-control" });



    <div style="padding-top: 5px">
        <input type="submit" value="Guardar" class="btn btn-primary" />
    </div>

}


